<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Phones</title>
</head>
<body>
    <h1>List of Phones</h1>
    <div th:if="${error}">
        <p th:text="${error}" style="color:red;"></p>
    </div>
    <ul>
        <li th:each="phone : ${phones}">
            <span th:text="${phone.name}"></span> - <span th:text="${phone.phone}"></span> 
            <a th:href="@{/phoneManagement/editar-telefone(id=${phone.id})}">Editar</a>
            <form th:action="@{/phoneManagement/{id}/deletar-telefone(id=${phone.id})}" th:method="deletar">
                <button type="submit">Excluir</button>
            </form>
        </li>
    </ul>
</body>
</html>
